
body
{
    margin: 0px;
    background-color: rgba(236, 142, 107, 0.659);
    color:black;
    font-family: inherit;
}
.img_aloo-tuk
{
    float:right;
}
center
{
    
    color: black;
}