
body
{
    margin: 0px;
    background-color: white;  
    color:  rgb(93, 41, 1);   
    font-family: inherit;
}
.img_brownie
{
    float:right;
}
center
{
    color: rgb(93, 41, 1);
}